/* @font-face {
    font-family: "G2 Erika Mono Regular";
    src: url("./assets/fonts/G2ErikaMono/G2ErikaMonoRegular.ttf");
}

@font-face {
    font-family: "G2 Erika Mono Italic";
    src: url("./assets/fonts/G2ErikaMono/G2ErikaMonoItalic.ttf");
}

@font-face {
    font-family: "Big Daily Short Semilight";
    src: url("./assets/fonts/bigDailyShort/bigdailyshort-semilight.otf");
} */

@font-face {
    font-family: "Sacramento";
    src: url("./assets/fonts/Sacramento/Sacramento-Regular.ttf");
}
@font-face {
    font-family: "Pro Grotesk Light";
    src: url("./assets/fonts/postGrotesk/PostGrotesk-Light.ttf");
}

body {
    font-family: century-gothic, "Big Daily Short Semilight", sans-serif;
    margin: 0 auto;
    background-image: url("assets/img/lightAndShadow/cloud.JPG");
}

br {
    display: block;
    content: "";
    margin: 0.8rem 0;
}


nav {
    top: 0;
    width: 100%;
    height: 10.5rem;
}

#image-liquid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}

h1 {
    font-family: "Sacramento", century-gothic, "Big Daily Short Semilight", sans-serif;
    font-style: normal;
    font-weight: normal;
    position: absolute;
    font-size: 4rem;
    letter-spacing: 0.5rem;
    color: white;
    right: 2rem;
    top: -0.5rem;
    animation: name-slide 3s ease-out alternate;
}
@keyframes name-slide {
    0%    { transform: translateX(30rem);}
    100%  { transform: translateX(0rem);}
}

h2 {
    position: absolute;
    color: rgb(255, 167, 166);
    border: 4px solid rgb(255, 167, 166);
    font-size: 17pt;
    letter-spacing: 0.5rem;
    top: 2.5rem;
    left: -4.5rem;
    padding: 0.3rem 1.25rem 1rem 1.25rem;
    transform: rotate(90deg);
    z-index: 1;
    cursor: pointer;
}
#about {
    position: absolute;
    color: rgb(255, 207, 206);
    width: 35%;
    font-size: 16pt;
    text-indent: 0rem;
    top: -0.8rem;
    left: -7.3rem;
    padding: 0.8rem 0rem 0.8rem 2.5rem;
    display: none;
}
#email {
    font-family: century-gothic, "Big Daily Short Semilight", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 1rem;
    letter-spacing: 0.5px;
}
h2:hover + #about {
    display: block;
}

h3 {
    font-family: "Pro Grotesk Light";
    position: fixed;
    color: rgba(255, 255, 255, 0.9);
    font-size: 2rem;
    letter-spacing: 1.3rem;
    position:fixed;
    margin-top: 16rem;
    transform: rotate(90deg);
}

#website-design {
    position: relative;
    border-left: 3px solid rgba(255, 255, 255, 0.276);
}
#website-design h3 {
    top: 15.8rem;
    margin-left: -14.5rem;
    animation: website-down 1s ease-out alternate;
}
@keyframes website-down {
    0%   { transform: translateY(-50rem) rotate(90deg); }
    100% { transform: translateY(0) rotate(90deg); }
}

#typography-design {
    position: relative;
    border-left: 3px solid rgba(255, 255, 255, 0.15);
}
#typography-design h3 {
    top: 11.5rem;
    margin-left: -10.5rem;
    animation: typography-down 1.5s ease-out alternate;
}
@keyframes typography-down {
    0%   { transform: translateY(-50rem) rotate(90deg); }
    100% { transform: translateY(0) rotate(90deg); }
}

#illustration {
    position: relative;
    border-left: 3px solid rgba(255, 255, 255, 0.15);
}
#illustration h3 {
    top: 13rem;
    margin-left: -12rem;
    animation: typography-down 2s ease-out alternate;
}
@keyframes typography-down {
    0%   { transform: translateY(-50rem) rotate(90deg); }
    100% { transform: translateY(0) rotate(90deg); }
}

#animation {
    position: relative;
    border-left: 3px solid rgba(255, 255, 255, 0.15);
}
#animation h3 {
    top: 10rem;
    margin-left: -8.5rem;
    animation: animation-down 2.5s ease-out alternate;
}
@keyframes animation-down {
    0%   { transform: translateY(-50rem) rotate(90deg); }
    100% { transform: translateY(0) rotate(90deg); }
}

#lightAndShadow {
    position: relative;
    border-left: 3px solid rgba(255, 255, 255, 0.15);
}
#lightAndShadow h3 {
    top: 16rem;
    margin-left: -15rem;
    animation: lightandshadow-down 3s ease-out alternate;
}
@keyframes lightandshadow-down {
    0%   { transform: translateY(-50rem) rotate(90deg); }
    100% { transform: translateY(0) rotate(90deg); }
}

.main-container {
    /* background: rgb(199, 199, 199); */
    background: rgba(38, 38, 38, 0.249);
    height: 50%;
    width: 90%;
    box-sizing: border-box;
    display: flex;
    margin-top: 3rem;
    margin-left: 5.5rem;
    box-shadow: 0rem 0rem 5rem white;
}

.project-box {
    height: 70vh;
    flex: 1;
    transition: 1.5s;
    overflow-y: scroll;
}
.project-box:hover {
    flex: 8;
}

.main-ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    filter: blur(150px) grayscale(100%);
}
.main-ul:hover {
    filter: blur(0px) grayscale(0%);
}
.main-li {
    list-style: none;
    margin: 2rem 0 2rem 1rem;
}

.main-image {
    width: 100%;
    max-width: 25rem;
    height: auto;
    margin: 1rem auto auto 5rem;
}
.main-image-hovereffect {
    width: 100%;
    max-width: 60rem;
    height: auto;
    margin: 1rem auto auto 5rem;
    cursor: pointer;
}
.main-image-hovereffect:hover {
    box-shadow: 0rem 0rem 2rem rgb(255, 255, 255);
    transition: 0.5s;
}

h4 {
    font-family: century-gothic, "Big Daily Short Semilight", sans-serif;
    color: white;
    font-size: 20pt;
    font-weight: normal;
    font-style: italic;
    text-align: left;
    margin: 3rem auto 1rem 5rem;
}
.description-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
p {
    color: white;
    margin: 1rem 2rem auto 8.5rem;
    font-size: 14pt;
    line-height: 18pt;
    text-align: left;
    display: inline;
}

.all-sliders {
    position: relative;
    overflow: hidden;
    margin: 1rem -5rem auto 5rem;
}
.slides {
    height: 32vh;
    display: flex;
}
.slider-image {height: 100%;}
.slides input {display: none;}
.slide {transition: 2s;}

.nav-manual {
    position: absolute;
    width: 30rem;
    margin: 23rem auto auto 6rem;
    display: flex;
    justify-content: center;
}
.manual-btn {
    border: 2px solid rgb(159, 159, 159);
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
    transition: 0.5s;
}
.manual-btn:not(:last-child) {margin-right: 1rem;}
.manual-btn:hover {background: gray;}

#radio1:checked ~ .first {margin-left: 0;}
#radio2:checked ~ .first {margin-left: -29.3vw;}
#radio3:checked ~ .first {margin-left: -58.3vw;}
#radio4:checked ~ .first {margin-left: -87vw;}
#radio5:checked ~ .first {margin-left: -115.6vw;}

#radio6:checked ~ .first {margin-left: 0;}
#radio7:checked ~ .first {margin-left: -29.2vw;}
#radio8:checked ~ .first {margin-left: -58vw;}
#radio9:checked ~ .first {margin-left: -86.8vw;}

#radio10:checked ~ .first {margin-left: 0;}
#radio11:checked ~ .first {margin-left: -29vw;}
#radio12:checked ~ .first {margin-left: -58vw;}
#radio13:checked ~ .first {margin-left: -86.8vw;}

#radio14:checked ~ .first {margin-left: 0;}
#radio15:checked ~ .first {margin-left: -29.2vw;}
#radio16:checked ~ .first {margin-left: -57.9vw;}
#radio17:checked ~ .first {margin-left: -86.9vw;}
#radio18:checked ~ .first {margin-left: -115.7vw;}
#radio19:checked ~ .first {margin-left: -144.5vw;}

@media only screen and (max-width: 812px) {  
    img {
        width: 60%;
        margin-left: 0.5rem;
        padding-top: 12rem;
    }
    
    h1 {
        font-size: 4rem;
        width: 30%;
        line-height: 6rem;
        display: flex;
        text-align: right;
        left: 8.5rem;
        top: 12rem;
    }
}